<?xml version="1.0" encoding="utf-8" ?>
<!--共享文件只支持key-value，并且只支持一层key查询,find://eat表示不会保留双引号，find://cat表示保留，link://表示不保留双引号，直接使用引用的value绑定到这里-->
<configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <template value="true" sharename="share"></template>
  <appSettings>
    <add key="member_conn" value="server=127.0.0.1;uid=sa;pwd=123456;database=b2c_message;"/>
    <add key="prm_conn" value="server=127.0.0.1;uid=sa;pwd=123456;database=b2c_admin;"/>
  </appSettings>
</configuration>