<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets async="true">
    <!--屏幕打印消息-->
    <target name="console" xsi:type="ColoredConsole"
                    layout="${date:format=HH\:mm\:ss}> ${message}" />

    <!--VS输出窗口-->
    <target name="debugger" xsi:type="Debugger"
                    layout="${date:format=HH\:mm\:ss} | ${level:padding=-5} | ${message}" />

    <!--保存至文件-->
    <target  name="fatal_file" xsi:type="File" maxArchiveFiles="30"
             fileName="${basedir}\App_Log\fatal\${shortdate}.txt"
             layout="${longdate} | ${level:uppercase=false:padding=-5} | ${machinename} | ${threadid:padding=5} | ${callsite:skipFrames=1} | ${logger} | ${message} ${onexception:inner=${newline}${exception:format=ToString} ${newline} ${stacktrace}}" />

    <target  name="error_file" xsi:type="File" maxArchiveFiles="30"
             fileName="${basedir}\App_Log\error\${shortdate}.txt"
             layout="${longdate} | ${level:uppercase=false:padding=-5} | ${machinename} | ${threadid:padding=5} | ${callsite:skipFrames=1} | ${logger} | ${message} ${onexception:inner=${newline}${exception:format=ToString} ${newline} ${stacktrace}}" />

    <target  name="warn_file" xsi:type="File" maxArchiveFiles="30"
             fileName="${basedir}\App_Log\warn\${shortdate}.txt"
             layout="${longdate} | ${level:uppercase=false:padding=-5} | ${machinename} | ${threadid:padding=5} | ${callsite:skipFrames=1} | ${logger} | ${message} ${onexception:inner=${newline}${exception:format=ToString} ${newline} ${stacktrace}}" />

    <target  name="info_file" xsi:type="File" maxArchiveFiles="30"
             fileName="${basedir}\App_Log\info\${shortdate}.txt"
             layout="${longdate} | ${level:uppercase=false:padding=-5} | ${machinename} | ${threadid:padding=5} | ${callsite:skipFrames=1} | ${logger} | ${message} ${onexception:inner=${newline}${exception:format=ToString} ${newline} ${stacktrace}}" />

    <target  name="debug_file" xsi:type="File" maxArchiveFiles="30"
             fileName="${basedir}\App_Log\debug\${shortdate}.txt"
             layout="${longdate} | ${level:uppercase=false:padding=-5} | ${machinename} | ${threadid:padding=5} | ${callsite:skipFrames=1} | ${logger} | ${message} ${onexception:inner=${newline}${exception:format=ToString} ${newline} ${stacktrace}}" />

    <target  name="trace_file" xsi:type="File" maxArchiveFiles="30"
             fileName="${basedir}\App_Log\trace\${shortdate}.txt"
             layout="${longdate} | ${level:uppercase=false:padding=-5} | ${machinename} | ${threadid:padding=5} | ${callsite:skipFrames=1} | ${logger} | ${message} ${onexception:inner=${newline}${exception:format=ToString} ${newline} ${stacktrace}}" />
  </targets>
  <rules>
    <logger name="*" level="Fatal" writeTo="fatal_file" />
    <logger name="*" level="Error" writeTo="error_file" />
    <logger name="*" level="Warn" writeTo="warn_file" />
    <logger name="*" level="Info" writeTo="info_file" />
    <logger name="*" level="Debug" writeTo="debug_file" />
    <logger name="*" level="Trace" writeTo="trace_file" />
  </rules>
</nlog>